@import "/assets/styles/helpers/variables";

.lineScroll {
  position: fixed;
  z-index: 1100;
  top: 0;
  height: 4px;
  background-color: var(--greenColor);
}
.container {
  padding-top: 115px;
  display: flex;
  justify-content: space-between;
  @media #{$media-ipad} {
    padding-top: 95px;
  }

  .blog {
    &Menu {
      width: 18.939393939%;
      margin-bottom: 57px;
      @media #{$media-ipad-pro} {
        width: 23.939393939%;
      }
      @media #{$media-ipad} {
        display: none;
      }

      &Fixed {
        padding: 16px;
      }
    }

    &Detail {
      width: 57.272727272%;
      @media #{$media-ipad-pro} {
        width: 73.636363636%;
      }
      @media #{$media-ipad} {
        width: 100%;
        padding: 0 16px;
      }
      &Image {
        width: 100%;
        margin: 24px 0;
        @media #{$media-ipad} {
          margin: 16px 0;
        }
      }
      &Title {
        font-size: 32px;
        line-height: 39px;
        color: var(--black0Color);
        margin-bottom: 20px;
        @media #{$media-ipad-pro} {
          font-size: 28px;
          line-height: 34px;
        }
        @media #{$media-ipad} {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 16px;
        }
      }
      &Author {
        &Gap {
          gap: 12px;
          display: none !important;
          margin-bottom: 24px;
          @media #{$media-ipad} {
            display: flex !important;
          }
        }
        &ContainerText {
          width: 33%;
          @media #{$media-ipad} {
            width: 100%;
          }
        }
        &Title {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          margin-right: 32px;
          margin-bottom: 12px;
        }

        &Text {
          margin-bottom: 12px;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          justify-content: space-between;
        }
        &Info {
          padding: 16px;
          margin-top: 20px;
          margin-bottom: 32px;
          background: var(--blogBgColor);
          border-radius: 8px;
          display: flex;
          @media #{$media-ipad} {
            margin-top: 12px;
            margin-bottom: 24px;
            flex-direction: column;
            align-items: center;
          }
          &1 {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          &2 {
            padding-left: 6%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media #{$media-ipad} {
              padding: 0;
              align-items: center;
            }
          }
          &Description {
            margin: 16px 0 0;
            font-size: 14px;
            line-height: 20px;
            color: #1f1f1f;
            @media #{$media-ipad} {
              text-align: center;
            }
          }
        }
      }

      &Info {
        margin-bottom: 20px;
        @include display-flex;
        align-items: center;
        flex-wrap: wrap;
        @media #{$media-ipad} {
          margin-bottom: 16px;
        }
        &Name {
          color: var(--blueColor);
          cursor: pointer;
          &:hover {
            color: var(--greenColor);
          }
          &:active {
            color: var(--blackColor);
          }
        }
      }

      &SeeMore {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding-left: 10px;
        border-left: 4px solid $basic-color;
      }
      &Text {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
      &Content {
        margin-bottom: 24px;
        @media #{$media-ipad} {
          margin-bottom: 16px;
        }
        &Title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          padding: 24px;
          margin: 24px 0;
          background: var(--greyE8Color);
          border-radius: 8px;
          @media #{$media-ipad} {
            padding: 16px;
            margin: 16px 0;
          }
          &Child {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
            @media #{$media-ipad} {
              margin-bottom: 8px;
            }
          }
        }
        &Head {
          position: absolute;
          top: -114px;
          bottom: 114px;
        }
      }
      &Rating {
        @include display-flex;
        align-items: center;
        margin: 15px 0;
        @media #{$media-ipad} {
          margin: 6px 0;
        }
        &Text {
          margin-right: 24px;
          font-size: 16px;
          @media #{$media-ipad} {
            margin-right: 12px;
          }
        }
      }
      &Email {
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        padding: 24px;
        margin-bottom: 57px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$media-ipad} {
          padding: 16px;
          margin-bottom: 53px;
        }
        &Image {
          width: 100px;
          height: 96px;
        }
        &Text {
          padding: 12px 0;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
        }
      }
      .contactForm {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        background-color: $white-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
      }
      .logoTelegram {
        width: 18px;
        height: 18px;
      }
      .buttonSubmit {
        padding: 13px;
        background-color: $basic-color;
        border-radius: 8px;
        border: none;
        &:hover {
          opacity: 0.9;
        }
      }
      .textPlaceholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #9c9c9c;
        border: none;
        padding: 0 16px;
        width: 100%;
      }
    }

    &Author {
      width: 18.939393939%;
      margin-bottom: 57px;
      @media #{$media-ipad-pro} {
        display: none;
      }

      &Title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-top: 32px;
      }

      &Text {
        margin-top: 12px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
      }

      &Gap {
        gap: 12px;
      }

      &Info {
        padding: 24px 16px;
        margin-top: 32px;
        background: var(--blogBgColor);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &Image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        &WriteBy {
          font-size: 12px;
          line-height: 15px;
          margin-top: 8px;
        }

        &Name {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          margin-top: 8px;
        }

        &Rating {
          font-style: italic;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          margin-top: 12px;
        }

        &Description {
          margin-top: 16px;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #1f1f1f;
        }
      }
    }

    &Fixed {
      position: sticky;
      top: 115px;
      width: 100%;
      max-width: 100%;
      z-index: 1;
    }
  }

  &Slider {
    margin: 32px -12px;

    @media #{$media-ipad} {
      width: 100%;
      margin: 16px 0px;
    }
  }

  &Comment {
    margin: 32px 0;
    @media #{$media-ipad} {
      margin: 24px 0;
    }
    &Name {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }

    &Content {
      font-size: 16px;
      line-height: 24px;
      color: #595959;
      margin-bottom: 12px !important;
    }
    &Info {
      font-size: 14px;
      line-height: 17px;
      color: #8c8c8c;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &Element {
        margin-right: 32px;
        cursor: pointer;
      }
      &Image {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
    &Line {
      &1 {
        width: 2px;
        height: 100%;
        margin-left: 19px;
        background-color: #d9d9d9;
      }

      &2 {
        position: absolute;
        width: 32px;
        height: 32px;
        left: -33px;
        top: -9px;
      }
    }

    &Image {
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 12px;
      position: relative;
    }

    &Input {
      width: 100%;
      height: 100px;
      border-radius: 4px;
      padding: 16px 24px;
    }

    &Button {
      border: none;
      float: left;
      background: #067655;
      border-radius: 8px;
      line-height: 19px;
      color: #ffffff;
      padding: 12px 47px;
      margin-top: 20px;
      @media #{$media-ipad} {
        margin-top: 16px;
      }
    }

    &Tab {
      display: flex;
      border-bottom: 1px solid #d9d9d9;
      gap: 24px;
      margin: 32px 0;
      @media #{$media-ipad} {
        margin: 24px 0 16px;
      }
      &Button {
        padding: 12px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        cursor: pointer;

        .underLine {
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -1px;
          background-color: #067655;
        }
      }
    }
  }
}

.containerBlog {
  box-sizing: border-box;
  border: 2px solid var(--borderColor);
  border-radius: 8px;
  cursor: pointer;
  margin: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media #{$media-ipad} {
    margin: 0 4px;
  }

  &Text {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &Image {
    width: 100%;
    height: 171px;
    padding-top: 50%;
    border-radius: 8px;
  }

  &Title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    @media #{$media-ipad} {
      font-size: 14px;
      line-height: 17px;
      -webkit-line-clamp: 4;
    }
  }

  &Time {
    @include display-flex;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: $brown-dark-color;

    .time {
      margin-right: 12px;
    }
  }

  &Description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media #{$media-ipad} {
      font-size: 12px;
      line-height: 15px;
      -webkit-line-clamp: 4;
    }
  }

  &SeeDetail {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #067655;
    cursor: pointer;
  }

  .arrowRight {
    border: solid #067655;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
.customRating {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &on {
    color: #000;
  }
  &off {
    color: #000;
  }
}
